extends ../layouts/base
block title
  title about
block nav
  mixin nav('about')
block content
  .post
    p 
      | Software engineer and web enthusiast. Follow me on Twitter: 
      | <a href="https://twitter.com/lxanders">@lxanders</a>
